body {
	background-image: url("../images/assembleia_noite.jpg");
	color:#ffffff;
}

#mute {
	position:fixed;
	right: 10px;
	top: 10px;
}

#muteButton {
	padding: 0;
	border: none;
	background: none;
}